<app-title-pane heading="Products" subtitle="Manage products">
  <div options>
    <a class="btn btn-sm btn-info btn-addon" routerLink="/product/create">
      <i class="fa fa-plus"></i>
      Create new
    </a>
  </div>
</app-title-pane>

<app-message *ngIf="errorMsg" [data]="errorMsg"></app-message>

<div class="product-list-container main">

  <div class="box">

    <div class="heading">Products</div>

    <div class="body">

      <app-multi-select
        [buttonDisable]="!selected.length"
        [options]="actionOptions"
        (submitEmitter)="doAction($event)">
      </app-multi-select>

      <table class="table" *ngIf="products">
        <thead>
          <tr>
            <th></th>
            <th>ID</th>
            <th>Image</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let product of products | paginate: { itemsPerPage: 10, currentPage: currentPage }">
            <td class="text-center" style="width: 10px">
              <input type="checkbox" (change)="onSelect(product)" />
            </td>
            <td>ID</td>
            <td class="image-column"><img [src]="product.image" alt="Image" /></td>
            <td>{{ product.name }}</td>
            <td>{{ product.category?.name || "No category" }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.getQuantity() }}</td>
            <td>
              <i class="fa" [ngClass]="{'fa-check text-success': product.active, 'fa-times text-danger': !product.active }"></i>
            </td>
            <td>

              <a class="btn btn-sm btn-icon btn-info" [routerLink]="['/product', product._id]">
                <i class="fa fa-edit"></i>
              </a>

              <a (click)="removeProduct(product)" class="btn btn-sm btn-icon btn-danger">
                <i class="fa fa-remove"></i>
              </a>

            </td>
          </tr>
        </tbody>
      </table>

      <pagination-controls (pageChange)="currentPage = $event" class="pagination"></pagination-controls>

    </div>

  </div>

</div>
