<app-title-pane heading="Products" subtitle="Manage products">
  <div options>
    <a class="btn btn-sm btn-info btn-addon" routerLink="/product/create">
      <i class="fa fa-plus"></i>
      Create new
    </a>
  </div>
</app-title-pane>

<app-message *ngIf="errorMsg" [data]="errorMsg"></app-message>

<div class="product-list-container main">

  <div class="box">

    <div class="heading">Products</div>

    <div class="body">

      <app-multi-select
        [buttonDisable]="!selected.length"
        [options]="actionOptions"
        (submitEmitter)="doAction($event)">
      </app-multi-select>

      <table class="table" *ngIf="products">
        <thead>
          <tr>
            <th></th>
            <th class="cursor" (click)="setOrder('id')">
              <i class="fa pull-right" [ngClass]="{'fa-caret-down': isActiveSorting('id', true), 'fa-caret-up': isActiveSorting('id', false)}" aria-hidden="true"></i>
              ID
            </th>
            <th>Image</th>
            <th class="cursor" (click)="setOrder('name')">
              <i class="fa pull-right" [ngClass]="{'fa-caret-down': isActiveSorting('name', true), 'fa-caret-up': isActiveSorting('name', false)}" aria-hidden="true"></i>
              Name
            </th>
            <th class="cursor" (click)="setOrder('category.name')">
              <i class="fa pull-right" [ngClass]="{'fa-caret-down': isActiveSorting('category.name', true), 'fa-caret-up': isActiveSorting('category.name', true)}" aria-hidden="true"></i>
              Category
            </th>
            <th class="cursor" (click)="setOrder('price')">
              <i class="fa pull-right" [ngClass]="{'fa-caret-down': isActiveSorting('price', true), 'fa-caret-up': isActiveSorting('price', false)}" aria-hidden="true"></i>
              Price
            </th>
            <th class="cursor" (click)="setOrder('quantity')">
              <i class="fa pull-right" [ngClass]="{'fa-caret-down': isActiveSorting('quantity', true), 'fa-caret-up': isActiveSorting('quantity', false)}" aria-hidden="true"></i>
              Quantity
            </th>
            <th class="cursor" (click)="setOrder('active')">
              <i class="fa pull-right" [ngClass]="{'fa-caret-down': isActiveSorting('active', true), 'fa-caret-up': isActiveSorting('active', false)}" aria-hidden="true"></i>
              Status
            </th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td></td>
            <td>
              <input type="text" class="input input-filter" [(ngModel)]="filter._id" placeholder="Filter by ID...">
            </td>
            <td></td>
            <td>
              <input type="text" class="input input-filter" [(ngModel)]="filter.name" placeholder="Filter by name...">
            </td>
            <td></td>
            <td>
              <input type="text" class="input input-filter" [(ngModel)]="filter.price" placeholder="Filter by price...">
            </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr *ngFor="let product of products | filter: filter | orderBy:order:reverse | paginate: { itemsPerPage: 10, currentPage: currentPage }">
            <td class="text-center" style="width: 10px">
              <input type="checkbox" (change)="onSelect(product)" />
            </td>
            <td>{{ product._id }}</td>
            <td class="image-column"><img [src]="product.image" alt="Image" /></td>
            <td>{{ product.name }}</td>
            <td>{{ product.category?.name || "No category" }}</td>
            <td>{{ product.price | currency:'USD':true }}</td>
            <td>{{ product.getQuantity() }}</td>
            <td>
              <i class="fa" [ngClass]="{'fa-check text-success': product.active, 'fa-times text-danger': !product.active }"></i>
            </td>
            <td>

              <a class="btn btn-sm btn-icon btn-info" [routerLink]="['/product', product._id]">
                <i class="fa fa-edit"></i>
              </a>

              <a (click)="removeProduct(product)" class="btn btn-sm btn-icon btn-danger">
                <i class="fa fa-remove"></i>
              </a>

            </td>
          </tr>
        </tbody>
      </table>

      <pagination-controls (pageChange)="currentPage = $event" class="pagination"></pagination-controls>

    </div>

  </div>

</div>
