@import "../../../assets/scss/variables.scss";

@media (max-width: 640px) {
  .sidebar {
    text-align: center;

    .title-header {
      display: none;
    }

    ul {
      li {
        line-height: 60px;

        a {
          padding: 0 !important;

          i {
            font-size: 1.5em;
          }
        }

        span {
          display: none;
        }
      }
    }
  }
}
@media (min-width: 640px) and (max-width: 1280px) {
  .sidebar {
    text-align: center;

    .title-header {
      display: none;
    }

    ul {
      li {
        line-height: 80px;

        a {
          padding: 0 !important;

          i {
            font-size: 2em;
          }
        }
        span {
          display: none;
        }
      }
    }
  }
}

.sidebar {
  background: $sidebarBgColor;

  .logo {
    padding: 10px;

    img {
      max-width: 100%;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      white-space: nowrap;

      a {
        display: block;
        padding: 10px 40px;
        color: #869fb1;
        font-weight: 400;
        font-size: 1em;
        transition: background-color .2s ease-in-out 0s;

        &:hover {
          background: #16232d;
        }

        i {
          line-height: 40px;
          width: 40px;

          &.text-purple {
            color: #564aa3;
          }

          &.text-blue {
            color: #1797be;
          }

          &.text-green {
            color: #27c24c;
          }
        }
      }

      &.padding {
        padding: 0 20px;
      }
    }
  }

  .text-muted {
    color: #5c798f !important;
  }
}
