.button {
  border-radius: 0;
  background: #0ab3a3;
  margin: 10px 0;
  display: inline-block;
  color: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.14);
  border: 0;
  padding: 11px 20px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
  line-height: 20px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  transition: all, 0.2s, ease-in-out;

  &:disabled {
    background: gray;

    &:hover {
      background: gray;
    }
  }

  &:hover {
    background: #099b8d;
  }

  &.add-to-cart {
    i {
      vertical-align: middle;
      margin-right: 5px;
    }
  }
}
