$colorSuccess: #27c24c;
$colorSuccessHover: #23ad44;
$colorSuccessDarker: #20a03f;
$colorSuccessText: #fff;

$colorPrimary: #7266ba;
$colorPrimaryHover: #6254b2;
$colorPrimaryDarker: #5a4daa;
$colorPrimaryText: #fff;

$colorWarning: #fad733;
$colorWarningHover: #f9d21a;
$colorWarningDarker: #f9cf0b;
$colorWarningText: #fff;

$colorDanger: #f05050;
$colorDangerHover: #ee3939;
$colorDangerDarker: #ed2a2a;
$colorDangerText: #fff;

$colorInfo: #23b7e5;
$colorInfoHover: #19a9d5;
$colorInfoLighter: #51c6ea;
$colorInfoDarker: #23b7e5;
$colorInfoText: #fff;
