@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700');

@import 'box.scss';
@import 'tables.scss';
@import 'forms.scss';
@import 'buttons.scss';
@import 'messages.scss';
@import 'pagination.scss';
@import 'colors.scss';
@import 'label.scss';
@import 'images.scss';
@import 'text.scss';
@import 'panels.scss';
@import 'tabs.scss';
@import 'margins.scss';
@import 'variables.scss';

html {
  padding: 0;
  margin: 0;
}

body {
  background: $bgColor;
  color: $baseFontColor;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42857143;
}

html, body {
  width: 100%;
  height: 100%;
}

a {
  color: $baseLinkColor;
  text-decoration: none;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.bg-primary {
  color: #f4f3f9;
  background: #7266ba;

  .text-muted {
    color: #d6d3e6 !important;
  }
}

.bg-info {
  background: #23b7e5;

  .text-muted {
    color: #b0e1f1 !important;
  }
}

.cursor {
  cursor: pointer;
}

.main {
  padding: 20px;
}
