.pagination {
  padding-left: 0;
  border-radius: 4px;

  ul {
    padding: 0;
  }

  li {
    position: relative;
    float: left;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;

    a {
      color: #337ab7;
      padding: 0;
      padding: 6px 12px;

      &:hover {
        background: none;
      }
      cursor: pointer;
    }

    &.current {
      padding: 6px 12px;
    }

    &.current, &:hover {
      z-index: 2;
      color: #fff !important;
      cursor: default;
      background-color: #337ab7;
      border-color: #337ab7;

      a {
        color: #fff;
      }
    }

    &.disabled {
      color: #777;
      cursor: not-allowed;
      background-color: #fff;
      border-color: #ddd;
      padding: 6px 12px;

      &:hover {
        color: #777 !important;
      }
    }
  }
}
