.panel {
  border-radius: 2px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  background: #fff;
  padding: 15px;

  h1, h2, h3, h4, h5 {
    margin: 0;
    line-height: 1.1;
  }

  &.bordered-title {
    padding: 0;

    h1, h2, h3, h4, h5 {
      border-bottom: 1px solid #dee5e7;
      padding: 15px;
    }

    .content {
      padding: 15px;
    }
  }
}
