$break-max-width: 760px;
$break-min-device-width: 768px;
$break-max-device-width: 1024px;

@media
only screen and (max-width: $break-max-width),
(min-device-width: $break-min-device-width) and (max-device-width: $break-max-device-width)  {
  .table-responsive {
    display: block;

    thead, tbody, th, td, tr {
      display: block;
    }

    thead tr {
      position: absolute;
      top: -9999px;
      left: -99999px;
    }

    tr {
      border: 1px solid #ccc;
    }

    td {
      border: none;
      position: relative;
      padding-left: 40% !important;
    }

    td:before {
      position: absolute;
      top: 1em;
      left: 1em;
      width: 55%;
      padding-right: 10px;
      white-space: nowrap;
      content: attr(data-label);
    }

    td.no-label {
      padding-left: 1em !important;
    }
  }
}

.table {
  width: 100%;
  background: #fff;
  margin: 1em 0;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: .28571429rem;
  border-collapse: separate;
  border-spacing: 0;
  text-align: left;
  font-size: 0.8em;

  thead {
    tr {
      &:first-child {
        th:first-child {
          border-radius: .28571429rem 0 0 0;
        }
      }

      th {
        text-transform: uppercase;
        background: #f9fafb;
        font-weight: 700;
        border-bottom: 1px solid rgba(34,36,38,.1);
        padding: 1em 1em;
      }
    }
  }

  td {
    padding: 1em 1em;
    vertical-align: top;

    img {
      max-width: 80%;
      padding: 5px;
      border: #eee 1px solid;
    }
  }

}
