$bgColor: #f0f3f4;

$baseFontColor: #555;
$baseLighterColor: #888;
$baseLinkColor: $baseFontColor;

$footerBgColor: #333;

$priceColor: #0ab3a3;

$sidebarWidth: 15%;
$topMenuHeight: 52px;
$sidebarBgColor: #131e26;
