<div class="product-list-container main">

  <div class="box">

    <div class="heading">
      Products
    </div>

    <div class="body">

      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>ID</td>
            <td>Image</td>
            <td>Name</td>
            <td>Category</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Status</td>
            <td>
              <a [routerLink]="['/product', 2]">
                <i class="fa fa-edit"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>

</div>
