<app-message *ngIf="errorMsg" [data]="errorMsg"></app-message>

<div class="product-list-container main">

  <div class="box">

    <div class="heading">
      <div class="pull-right">
        <a routerLink="/product/create"><i class="fa fa-file-o" aria-hidden="true"></i></a>
      </div>

      Products
    </div>

    <div class="body">

      <table class="table" *ngIf="products">
        <thead>
          <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let product of products">
            <td>ID</td>
            <td>Image</td>
            <td>{{ product.name }}</td>
            <td>Category</td>
            <td>{{ product.price }}</td>
            <td>Quantity</td>
            <td>Status</td>
            <td>
              <a [routerLink]="['/product', product._id]">
                <i class="fa fa-edit"></i>
              </a>

              <a (click)="removeProduct(product)">
                <i class="fa fa-remove"></i>
              </a>
              
            </td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>

</div>
