<div class="panel bordered-title">
  <h4 class="text-thin">Latest Orders</h4>

  <div class="content">

    <div class="message info" *ngIf="!orders.length">No orders have been made</div>

    <table class="table" *ngIf="orders">
      <thead>
        <tr>
          <th>ID</th>
          <th>Customer</th>
          <th>Products</th>
          <th>Total</th>
          <th>Date</th>
          <th>Status</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let order of orders">
          <td><a [routerLink]="['/order', order._id]">{{ order._id }}</a></td>
          <td>
            <div *ngIf="order.customer">
              <a [routerLink]="['/customer', order.customer._id]">{{ order.customer?.getFullname() }}</a>
            </div>
            <div *ngIf="!order.customer">
              <em>Guest</em>
            </div>
          </td>
          <td>{{ order.getNumberOfProducts() }}</td>
          <td>{{ order.total | currency:'USD':true }}</td>
          <td>{{ order.createdAt | date:'short' }}</td>
          <td><app-shipping-status [status]="order.status"></app-shipping-status></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
