<table class="table" *ngIf="items.length">

  <thead>
    <tr>
      <th></th>
      <th>Product</th>
      <th>Unit Price</th>
      <th>Quantity</th>
      <th>Available quantity</th>
      <th>Total</th>
      <th></th>
    </tr>
  </thead>

  <tbody>

    <tr *ngFor="let item of items; let i = index">
      <td>
        <a class="thumb-md" [routerLink]="['/product', item.product._id]">
          <img [src]="item.product.image" alt="Image" />
        </a>
      </td>
      <td>{{ item.product.name }}</td>
      <td>
        <input type="text" [(ngModel)]="item.price" *ngIf="toggle[i]">
        <span *ngIf="!toggle[i]">{{ item.price | currency:'USD':true }}</span>
      </td>
      <td>
        <input type="text" [(ngModel)]="item.quantity" *ngIf="toggle[i]">
        <span *ngIf="!toggle[i]">{{ item.quantity }}</span>
      </td>
      <td>{{ item.product.quantity }}</td>
      <td>{{ item.getTotalPrice() | currency:'USD':true }}</td>
      <td>
        <div *ngIf="toggle[i]">
          <button type="button" (click)="onSave(); toggle[i] = !toggle[i]" class="btn btn-xs btn-info">Save</button>
          <button type="button" (click)="toggle[i] = !toggle[i]" class="btn btn-xs btn-default">Cancel</button>
        </div>
        <button type="button" (click)="toggle[i] = !toggle[i]" class="btn btn-xs btn-info" *ngIf="!toggle[i]">Edit</button>
      </td>
    </tr>

  </tbody>

</table>
