<div class="row">

  <div class="col-md-6 col-xs-12">

    <h4>Selected attributes</h4>

    <div>
      <div class="message info" *ngIf="!selectedAttributes.length && !created">Select attributes to the right, and click the button to create a combination</div>
      <div class="message positive" *ngIf="!selectedAttributes && created">Combination created! Select more attributes to create another combination</div>

      <span *ngFor="let item of selectedAttributes" class="label bg-primary">{{ item.attribute.name + ': ' + item.value.label }}</span>
    </div>

    <div class="m-t">
      <button class="btn btn-info" [disabled]="!selectedAttributes.length || notAllAttributesSelected()" type="button" (click)="onCreateCombination()">Create combination</button>
    </div>

    <h4>Combinations</h4>

    <div *ngIf="!combinationForm.value.combinations.length">
      This product does not have any combinations added
    </div>

    <div [formGroup]="combinationForm" *ngIf="combinationForm.value.combinations.length">

      <div formArrayName="combinations">
        <div *ngFor="let combination of combinationForm.controls.combinations.controls; let i = index">

          <div [formGroupName]="i">
            <app-combination-control
              [group]="combinationForm.controls.combinations.controls[i]"
              (removeEmitter)="onRemoveCombination(i)">
            </app-combination-control>
          </div>

        </div>
      </div>

    </div>

  </div>

  <div class="col-md-6 col-xs-12">

    <div *ngIf="attributes">

      <div *ngFor="let attribute of attributes">
        <div *ngIf="enabledAttributesIds[attribute._id]" class="box">
          <button type="button" class="btn btn-sm btn-danger pull-right" (click)="onDeattachAttribute(attribute)">Deattach attribute from product</button>
          <h4>{{ attribute.name }}</h4>

          <ul>
            <li *ngFor="let item of attribute.values">

              <button
                type="button"
                class="btn btn-sm"
                [ngClass]="{'btn-success': isSelected(attribute, item)}"
                (click)="onSelectAttribute(attribute, item)">{{ item.label }}
              </button>

            </li>
          </ul>
        </div>
      </div>

      <div>
        <h4>Attach attribute to this product</h4>
        <div class="message info" *ngIf="!attributes.length">You have not setup any attributes yet</div>

        <div *ngFor="let attribute of attributes">
          <div (click)="onEnableAttribute(attribute)" *ngIf="!enabledAttributesIds[attribute._id]">{{ attribute.name }}</div>
        </div>
      </div>

    </div>

  </div>

</div>
