.top-menu {
  box-shadow: 0 2px 2px rgba(0,0,0,.05), 0 1px 0 rgba(0,0,0,.05);
  border-bottom: 1px solid #dee5e7;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #58666e;
  padding: 0 12px;
}
