@import '../assets/scss/variables.scss';

.app {
  position: relative;

  .sidebar {
    position: fixed;
    background: $sidebarBgColor;
    width: $sidebarWidth;
    z-index: 999;
    height: 100%;
  }

  .top-menu-container {
    margin-left: $sidebarWidth;
    position: fixed;
    width: 100%;
    z-index: 998;
    line-height: $topMenuHeight;
  }

  .content {
    margin-left: $sidebarWidth;
    padding-top: $topMenuHeight;

    .main {
      padding: 0 20px;
    }
  }
}
