<div class="sidebar">

  <div class="logo">
    <a routerLink="/">
      <img src="https://emberjs.com/images/brand/ember_Ember-Light-e42a2b30.png" alt="">
    </a>
  </div>

  <ul>
    <li class="text-muted text-xs padding">Catalog</li>

    <li>
      <a routerLink="/products">
        <i class="fa fa-bar-chart text-purple"></i>
        <span>Products</span>
      </a>
    </li>

    <li>
      <a href="#">
        <i class="fa fa-calendar-o text-blue"></i>
        <span>Categories</span>
      </a>
    </li>

    <li>
      <a routerLink="/customers">
        <i class="fa fa-users text-green"></i>
        <span>Customers</span>
      </a>
    </li>

  </ul>

</div>
