<div class="product-form">

  <div *ngIf="!product" class="message negative">
    No product found
  </div>

  <form [formGroup]="form" class="form" (ngSubmit)="onSubmit()" *ngIf="product" novalidate>

    <div class="box-tabbed m-b">

      <div class="tabs">

        <span class="tab" [ngClass]="{'active': activeTab == 'basic'}" (click)="setTab('basic')">Basic</span>

        <span class="tab" [ngClass]="{'active': activeTab == 'category'}" (click)="setTab('category')">Category</span>

        <span class="tab" [ngClass]="{'active': activeTab == 'attributes'}" (click)="setTab('attributes')">Attributes</span>

        <span class="tab" [ngClass]="{'active': activeTab == 'quantities'}" (click)="setTab('quantities')">Quantities</span>

        <span class="tab" [ngClass]="{'active': activeTab == 'pricing'}" (click)="setTab('pricing')">Pricing</span>

        <span class="tab" [ngClass]="{'active': activeTab == 'image'}" (click)="setTab('image')">Images</span>

      </div>

      <div class="tab-content">

        <div class="message negative" *ngIf="product.deleted">
          <button class="btn btn-sm btn-default pull-right" type="button" (click)="onRestore()">Restore</button>

          This product is removed and not visible to customers
        </div>

        <div class="tab-pane" *ngIf="activeTab == 'basic'">

          <div class="field" [ngClass]="{'error': formErrors.name}">
            <label for="name">Name</label>
            <input formControlName="name" placeholder="Name">

            <div *ngIf="formErrors.name" class="errors">{{ formErrors.name }}</div>
          </div>

          <div class="field" [ngClass]="{'error': formErrors.description}">
            <label for="description">Description</label>
            <input formControlName="description" placeholder="Description">

            <div *ngIf="formErrors.description" class="errors">{{ formErrors.description }}</div>
          </div>

          <div class="field">
            <label for="active">Active</label>

            <input type="checkbox" formControlName="active">
            <span class="text-muted text-xs">Do you want the product to be available in the store?</span>
          </div>

        </div>

        <div class="tab-pane" *ngIf="activeTab == 'category'">
          <div class="field" [ngClass]="{'error': formErrors.category}">
            <label for="category">Category</label>

            <app-select
              [options]="categoryOptions()"
              formControlName="category"
              label="Select a category"
              *ngIf="categories"
            >
            </app-select>

            <div *ngIf="formErrors.category" class="errors">{{ formErrors.category }}</div>
          </div>
        </div>

        <div class="tab-pane" *ngIf="activeTab == 'attributes'">
          <div class="field">
            <label for="attributes">Attributes</label>

            <app-attribute-editor
              [product]="product"
              [combinationForm]="form.controls.combinationsGroup"
              [attributes]="attributes">
            </app-attribute-editor>

          </div>
        </div>

        <div class="tab-pane" *ngIf="activeTab == 'pricing'">
          <div class="field" [ngClass]="{'error': formErrors.price}">
            <label for="price">Price</label>
            <input formControlName="price" placeholder="Price" type="number">

            <div *ngIf="formErrors.price" class="errors">{{ formErrors.price }}</div>
          </div>

          <div class="field">
            <label for="onSale">On Sale</label>

            <input formControlName="onSale" type="checkbox">
            <span class="text-muted text-xs">Do you want the product to be labeled as "On Sale"?</span>
          </div>

          <div formGroupName="discount">

            <div class="field">
              <label for="Discount">Add discount</label>

              <input formControlName="value" type="number" placeholder="Discount (%)">
            </div>

            <div class="field">
              <div class="row">
                <div class="col-md-6 col-xs-12">
                  <input formControlName="startDate" placeholder="Discount starts (YYYY-MM-DD)">
                </div>

                <div class="col-md-6 col-xs-12">
                  <input formControlName="endDate" placeholder="Discount ends (YYYY-MM-DD)">
                </div>
              </div>
            </div>

          </div>

        </div>

        <div class="tab-pane" *ngIf="activeTab == 'quantities'">

          <div *ngIf="hasCombinations()" class="message info">
            This product has combinations, specify the quantity under the "Attribute" tab.
          </div>

          <div class="field" [ngClass]="{'error': formErrors.quantity}" *ngIf="!hasCombinations()">
            <label for="quantity">Quantity</label>
            <input formControlName="quantity" placeholder="Quantity">

            <div *ngIf="formErrors.quantity" class="errors">{{ formErrors.quantity }}</div>
          </div>
        </div>

        <div class="tab-pane" *ngIf="activeTab == 'image'">
          Images

          <div formArrayName="images">
            <div *ngFor="let image of formArrayImages.controls; let i=index" [formGroupName]="i">
              <div class="row">
                <div class="col-xs-4 col-md-2">
                  <img [src]="image.value.url" class="image-preview" alt="">
                </div>

                <div class="col-xs-8 col-md-10">
                  <span>{{ image.value.label || 'No label' }}</span>
                  <div>
                    <label>Default image: </label>
                    <input type="checkbox" formControlName="main" (change)="onChangeDefaultImage(formArrayImages.controls[i].value)">
                  </div>
                  <div class="pull-right">
                    <button type="button" class="btn btn-danger" (click)="removeImage(i)">Remove</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <app-image-upload (uploadComplete)="onImageAdd($event)"></app-image-upload>

        </div>

      </div>

    </div>

    <button class="btn btn-sm btn-info btn-addon" type="submit" [disabled]="!form.valid">
      <i class="fa fa-check"></i>
      Save
    </button>

    <button class="btn btn-sm btn-danger btn-addon" type="button" *ngIf="product._id && !product.deleted" (click)="onRemove(true)">
      <i class="fa fa-trash-o"></i>
      Remove
    </button>

    <button class="btn btn-sm btn-danger btn-addon" type="button" *ngIf="product._id && product.deleted" (click)="onRemove(false)">
      <i class="fa fa-trash-o"></i>
      Delete forever
    </button>

  </form>



</div>
