<div class="app" [ngClass]="{'no-sidebar': !(showSidenav$ | async)}" *ngIf="loggedIn$ | async">

  <div class="sidebar" *ngIf="showSidenav$ | async">

    <app-sidebar (selectMenu)="onSelectMenu($event)" [activeMenu]="activeMenu$ | async"></app-sidebar>

  </div>

  <div class="top-menu-container">

    <app-top-menu
      [user]="user$ | async"
      (toggleSideNav)="onToggleSideNav($event)"
      [showSidenav]="showSidenav$ | async">
    </app-top-menu>

    <app-loader></app-loader>

  </div>

  <div class="content">

    <router-outlet></router-outlet>

  </div>

</div>
