<div class="customer-list-container main">

  <div class="box">

    <div class="heading">
      <div class="pull-right">
        <a routerLink="/customer/create"><i class="fa fa-file-o" aria-hidden="true"></i></a>
      </div>

      Customers
    </div>

    <div class="body">

      <table class="table" *ngIf="customers">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Country</th>
            <th>Orders</th>
            <th>Active</th>
            <th>Customer since</th>
            <th>Last visit</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let customer of customers">
            <td>{{ customer._id}}</td>
            <td>{{ customer.getFullname() }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.country }}</td>
            <td>{{ customer.orders.length }}</td>
            <td>{{ customer.getStatus() }}</td>
            <td>[customer since]</td>
            <td>[last visit]</td>
            <td>
              <a [routerLink]="['/customer', customer._id]">
                <i class="fa fa-edit"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>

</div>
