<app-title-pane heading="Customers" subtitle="Manage customers">
  <div options>
    <a class="btn btn-sm btn-info btn-addon" routerLink="/customer/create">
      <i class="fa fa-plus"></i>
      Create new
    </a>
  </div>
</app-title-pane>


<div class="customer-list-container main">

  <div class="box">

    <div class="heading">Customers</div>

    <div class="body">

      <table class="table" *ngIf="customers">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Country</th>
            <th>Orders</th>
            <th>Active</th>
            <th>Customer since</th>
            <th>Last visit</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let customer of customers | paginate: { itemsPerPage: 10, currentPage: currentPage }">
            <td>{{ customer._id}}</td>
            <td>{{ customer.getFullname() }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.country }}</td>
            <td>{{ customer.orders.length }}</td>
            <td>{{ customer.getStatus() }}</td>
            <td>[customer since]</td>
            <td>[last visit]</td>
            <td>
              <a [routerLink]="['/customer', customer._id]">
                <i class="fa fa-edit"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>

      <pagination-controls (pageChange)="currentPage = $event" class="pagination"></pagination-controls>

    </div>

  </div>

</div>
