.title-pane {
  background: #f6f8f8;
  border-bottom: 1px solid #dee5e7;
  padding: 20px;
  color: #58666e;

  h1 {
    font-weight: 300;
    margin: 0;
    font-size: 1.6em;
    color: #000;
  }

  .text-muted {
    color: #98a6ad;
    font-size: 13px;
  }
}
