<div class="home main">

  <div class="row">

    <div class="col-md-6 col-xs-6">

      <div class="panel text-center">
        <h1 class="text-thin text-info">520</h1>
        <span class="text-muted text-xs">New items</span>
      </div>

    </div>

    <div class="col-md-6 col-xs-6">

      <div class="panel text-center bg-primary">
        <h1 class="text-thin text-white">97</h1>
        <span class="text-muted text-xs">Orders</span>
      </div>

    </div>

    <div class="col-md-6 col-xs-6">

      <div class="panel text-center bg-info">
        <h1 class="text-thin text-white">$1201</h1>
        <span class="text-muted text-xs">Increased revenue</span>
      </div>

    </div>

    <div class="col-md-6 col-xs-6">

      <div class="panel text-center">
        <h1 class="text-thin text-info">36</h1>
        <span class="text-muted text-xs">Customers</span>
      </div>

    </div>

  </div>

  <div class="row">

    <div class="col-md-12 col-xs-12">

      <app-latest-orders></app-latest-orders>

    </div>

  </div>

</div>
