<app-title-pane heading="Edit a product" subtitle="Manage products">
  <div options>
    <a class="btn btn-sm btn-info btn-addon" routerLink="/products">
      <i class="fa fa-chevron-left"></i>
      Cancel
    </a>
  </div>
</app-title-pane>

<div class="product-detail main">
  <app-product-form
    [product]="product"
    [optionTypes]="optionTypes"
    *ngIf="product"
    (removeEmitter)="onRemove($event)"
    (submitEmitter)="onSubmit($event)"
    (restoreEmitter)="onRestore($event)">
  </app-product-form>
</div>
