<app-title-pane heading="Products" subtitle="Manage products">
  <div options>
    <a class="btn btn-sm btn-info btn-addon" routerLink="/product/create">
      <i class="fa fa-plus"></i>
      Create new
    </a>
  </div>
</app-title-pane>

<app-message *ngIf="errorMsg" [data]="errorMsg"></app-message>

<div class="product-list-container main">

  <div class="box">

    <div class="heading">Products</div>

    <div class="body">

      <div class="pull-right">

        <input type="checkbox" [(ngModel)]="displayRemoved" id="display-removed">
        <label for="display-removed" class="cursor">Display removed products</label>

      </div>

      <app-multi-select
        [buttonDisable]="!selected.length"
        [options]="actionOptions"
        (submitEmitter)="doAction($event)">
      </app-multi-select>

      <table class="table table-responsive" *ngIf="products">
        <thead>
          <tr>
            <th></th>
            <th class="cursor" (click)="setOrder('id')">
              <i class="fa pull-right" [ngClass]="{'fa-caret-down': isActiveSorting('id', true), 'fa-caret-up': isActiveSorting('id', false)}" aria-hidden="true"></i>
              ID
            </th>
            <th>Image</th>
            <th class="cursor" (click)="setOrder('name')">
              <i class="fa pull-right" [ngClass]="{'fa-caret-down': isActiveSorting('name', true), 'fa-caret-up': isActiveSorting('name', false)}" aria-hidden="true"></i>
              Name
            </th>
            <th class="cursor" (click)="setOrder('category.name')">
              <i class="fa pull-right" [ngClass]="{'fa-caret-down': isActiveSorting('category.name', true), 'fa-caret-up': isActiveSorting('category.name', true)}" aria-hidden="true"></i>
              Category
            </th>
            <th class="cursor" (click)="setOrder('price')">
              <i class="fa pull-right" [ngClass]="{'fa-caret-down': isActiveSorting('price', true), 'fa-caret-up': isActiveSorting('price', false)}" aria-hidden="true"></i>
              Price
            </th>
            <th class="cursor" (click)="setOrder('quantity')">
              <i class="fa pull-right" [ngClass]="{'fa-caret-down': isActiveSorting('quantity', true), 'fa-caret-up': isActiveSorting('quantity', false)}" aria-hidden="true"></i>
              Quantity
            </th>
            <th class="cursor" (click)="setOrder('active')">
              <i class="fa pull-right" [ngClass]="{'fa-caret-down': isActiveSorting('active', true), 'fa-caret-up': isActiveSorting('active', false)}" aria-hidden="true"></i>
              Status
            </th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td></td>
            <td class="no-label">
              <input type="text" class="input input-filter" [(ngModel)]="filter._id" placeholder="Filter by ID...">
            </td>
            <td></td>
            <td class="no-label">
              <input type="text" class="input input-filter" [(ngModel)]="filter.name" placeholder="Filter by name...">
            </td>
            <td></td>
            <td class="no-label">
              <input type="text" class="input input-filter" [(ngModel)]="filter.price" placeholder="Filter by price...">
            </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr *ngFor="let product of visibleProducts() | filter: filter | orderBy:order:reverse | paginate: { itemsPerPage: 10, currentPage: currentPage }">
            <td class="text-center no-label" style="width: 10px">
              <input type="checkbox" (change)="onSelect(product)" />
            </td>
            <td data-label="ID">{{ product._id }}</td>
            <td class="image-column" data-label="Image"><img [src]="product.image" alt="Image" /></td>
            <td data-label="Name">
              <a [routerLink]="['/product', product._id]">{{ product.name }}</a>

              <span *ngIf="product.deleted" class="label bg-danger">
                Deleted
              </span>
            </td>
            <td data-label="Category">{{ product.category?.name || "No category" }}</td>
            <td data-label="Price">{{ product.price | currency:'USD':true }}</td>
            <td data-label="Quantity">{{ product.getQuantity() }}</td>
            <td data-label="Status">
              <i class="fa" [ngClass]="{'fa-check text-success': product.active, 'fa-times text-danger': !product.active }"></i>
            </td>
            <td class="no-label">

              <a class="btn btn-sm btn-icon btn-info" [routerLink]="['/product', product._id]" title="Modify">
                <i class="fa fa-edit"></i>
              </a>

              <a (click)="removeProduct(product)" class="btn btn-sm btn-icon btn-danger" *ngIf="!product.deleted" title="Remove">
                <i class="fa fa-remove"></i>
              </a>

              <a (click)="restoreProduct(product)" class="btn btn-sm btn-icon btn-success" *ngIf="product.deleted" title="Restore">
                <i class="fa fa-life-saver"></i>
              </a>

            </td>
          </tr>
        </tbody>
      </table>

      <pagination-controls (pageChange)="currentPage = $event" class="pagination"></pagination-controls>

    </div>

  </div>

</div>
