<app-title-pane heading="Categories" subtitle="Manage categories">
  <div options>
    <a class="btn btn-sm btn-info btn-addon" (click)="creating = !creating">
      <i class="fa fa-plus"></i>
      Create new
    </a>
  </div>
</app-title-pane>

<div class="category-list-container main">

  <app-category-form
    *ngIf="creating"
    [formOnly]="true"
    (cancelEmmiter)="creating = false"
    (submitEmitter)="onCreate($event)">
  </app-category-form>

  <div class="box">

    <div class="heading">Categories</div>

    <div class="body">

      <app-multi-select
        [buttonDisable]="!selected.length"
        [options]="actionOptions"
        (submitEmitter)="doAction($event)">
      </app-multi-select>

      <table class="table" *ngIf="categories">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Description</th>
            <th>Active</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let category of categories | paginate: { itemsPerPage: 10, currentPage: currentPage }">
            <td class="text-center" style="width: 10px">
              <input type="checkbox" (change)="onSelect(category)" />
            </td>
            <td>{{ category.name }}</td>
            <td>{{ category.description }}</td>
            <td>
              <i class="fa" [ngClass]="{'fa-check text-success': category.active, 'fa-times text-danger': !category.active }"></i>
            </td>
            <td>
              <a class="btn btn-sm btn-icon btn-info" [routerLink]="['/category', category._id]">
                <i class="fa fa-edit"></i>
              </a>

              <a (click)="removeCategory(category)" class="btn btn-sm btn-icon btn-danger">
                <i class="fa fa-remove"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>

      <pagination-controls (pageChange)="currentPage = $event" class="pagination"></pagination-controls>

    </div>

  </div>

</div>
