<div class="category-form">

  <div class="panel bordered-title" *ngIf="category">
    <div class="options">
      <i class="fa fa-edit cursor" (click)="toggleEdit()" *ngIf="!editing"></i>
      <i class="fa fa-arrow-circle-o-left cursor" (click)="toggleEdit()" *ngIf="editing"></i>
    </div>

    <h4 class="text-thin">{{ category.name }}</h4>

    <div class="content">

      <div class="form-horizontal" *ngIf="!editing">

        <div class="row">

          <div class="col-xs-3 col-md-3">
            <div class="control-label">Name</div>
          </div>

          <div class="col-xs-9 col-md-9">{{ category.name }}</div>

          <div class="col-xs-3 col-md-3">
            <div class="control-label">Products</div>
          </div>

          <div class="col-xs-9 col-md-9">{{ category.products.length }}</div>

          <div class="col-xs-3 col-md-3">
            <div class="control-label">Description</div>
          </div>

          <div class="col-xs-9 col-md-9">
            <em *ngIf="!category.description">No description</em>
            {{ category.description }}
          </div>

        </div>

      </div>

      <form *ngIf="editing" [formGroup]="form" class="form" (ngSubmit)="onSubmit()" novalidate>

        <div class="field" [ngClass]="{'error': formErrors.name}">
          <label for="name">Name</label>
          <input formControlName="name" placeholder="Name">

          <div *ngIf="formErrors.name" class="errors">{{ formErrors.name }}</div>
        </div>

        <div class="field" [ngClass]="{'error': formErrors.image}">
          <label for="image">Image</label>
          <input formControlName="image" placeholder="Image">

          <div *ngIf="formErrors.image" class="errors">{{ formErrors.image }}</div>
        </div>

        <div class="field" [ngClass]="{'error': formErrors.description}">
          <label for="description">Description</label>
          <input formControlName="description" placeholder="Description">

          <div *ngIf="formErrors.description" class="errors">{{ formErrors.description }}</div>
        </div>

        <div class="field" [ngClass]="{'error': formErrors.active}">
          <label for="active">Active</label>
          <input formControlName="active" type="checkbox">

          <div *ngIf="formErrors.active" class="errors">{{ formErrors.active }}</div>
        </div>

        <button class="btn btn-sm btn-info btn-addon" type="submit" [disabled]="!form.valid">
          <i class="fa fa-check" *ngIf="form.valid"></i>
          <i class="fa fa-ban" *ngIf="!form.valid"></i>
          Save
        </button>

        <button type="button" class="btn btn-sm btn-default" (click)="toggleEdit()">Cancel</button>
      </form>

    </div>

  </div>

</div>
